/* Customer Pre-defined Properties */

:root{
  --ff-primary: 'Press Start 2P', cursive;
  --ff-secondary: 'Roboto Mono', monospace;

  --fw-reg: 300;
  --fw-bold: 600;

  --clr-dark: #DBE2EF;
  --clr-light: #3F72AF;

  --fs-h1: 2.5rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.4rem;
  --fs-body: 1.2rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root{
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 2;
  text-align: center;
}

section{
  margin: 0 5em;
  text-align: center;
  border-radius: 15px;
}

.fas{
  padding: 0.5em 0;
}


/* typography */

h1, h2, h3 {
  line-height: 1.6;
  margin: 0;
  font-family: var(--ff-primary);
}

h1{
  font-size: var(--fs-h1);
}

h2{
  font-size: var(--fs-h2);
}

h3{
  font-size: var(--fs-h3);
}

/* Navigation bar */

.navigation-bar{
  justify-content: space-between;
}

.nav-link{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--clr-dark);
  display: block;
}

.nav-link:hover{
  color: var(--clr-light);
}

.navbar-brand{
  color: var(--clr-light);
}


/* Home */

.home{
  padding: 0.5em 0;
  text-align: center;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.profile,
.intro{
  padding: 0.5em 0;
}

/* About Me */

.about{
  padding: 1rem 5rem;
  margin: 0 auto;
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

/* Skills */

.skills{
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
}

.skill{
  margin: 1em 2em;
  padding: 2em 2em;
}

.skill-heading{
  padding-bottom: 1em;
}

.tools{
  padding: 1em 0;
  font-family: var(--ff-primary);
}

/* Experience */

.experience{
  /* margin: 2em 0; */
	padding: 2em 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.company,
.role,
.description {
  padding: 0.75em 0;
  text-align: justify;
  line-height: 0.5;
}

/* Footer */

footer{
  background-color: var(--clr-light);
  color: var(--clr-dark);
  vertical-align: middle;
  font-size: var(--fs-h3);
}

.footer-link{
  font-weight: var(--fw-bold);
}

/* .footer-link:hover, */
.social-list-link:hover{
  opacity: 0.5;
  color: var(--clr-dark);
}

.social-list{
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  margin: 0.5em;
  padding: 1.25em;
}

.social-list-link{
  padding: 0.75em;
}
